{% extends "base.html" %}
{% block content %}
<h2>Send Message</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="mb-3">{{ form.recipient.label }} {{ form.recipient(class="form-select") }}</div>
  <div class="mb-3">{{ form.subject.label }} {{ form.subject(class="form-control") }}</div>
  <div class="mb-3">{{ form.body.label }} {{ form.body(class="form-control") }}</div>
  <div class="mb-3">{{ form.attachment.label }} {{ form.attachment(class="form-control") }}</div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
